.body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow-y: scroll;
  background: rgba(218, 227, 240, 1);
}

.head {
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: rgba(170, 185, 190, 1);
  overflow-y: hidden;
  z-index: 100;
}

.logo {
  width: 100px;
  left: 15%;
  float: left;
  text-align: center;
  margin-top: 16px;
  margin-left: 50px;
  font-family: Microsoft JhengHei;
  font-size: 48px;
  font-weight: 500;
  color: rgba(130, 57, 53, 1);
}

.topbar {
  margin: 25px;
  margin-left: 0px;
  font-family: Microsoft JhengHei;
  font-size: 20px;
  font-weight: 400;
}

.nav1 {
  float: left;
  white-space: nowrap;
}

.nav2 {
  float: right;
  margin: 20px 0px 0px 0px;
}

.topbar li {
  float: left;
  list-style: none;
  margin: 0px 20px 0px 20px;
}

a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.main {
  width: calc(100% - 20px );
  z-index: 1;
  padding: 10px;
  overflow-x: visible;
}


@keyframes slider {
  0%    {left:calc(0 * (100vw - 20px - 17px))}
  10%  {left:calc(0 * (100vw - 20px - 17px))}
  15%{left:calc(-1 * (100vw - 20px - 17px))}
  35%{left:calc(-1 * (100vw - 20px - 17px))}
  40%{left:calc(-2 * (100vw - 20px - 17px))}
  60%{left:calc(-2 * (100vw - 20px - 17px))}
  65%{left:calc(-3 * (100vw - 20px - 17px))}
  85%{left:calc(-3 * (100vw - 20px - 17px))}
  90%{left:calc(0 * (100vw - 20px - 17px))}
  100%{left:calc(0 * (100vw - 20px - 17px))}
}

.slide{overflow: hidden;}

.slidebar {
  width: 400vw;
  height: 80vh;
  display: flex;
  position: relative;
  animation: slider 20s infinite;
}

.slidernav {
  width: calc(100vw - 20px - 17px);
  height: 80vh;
  background-size: cover;
  background-position: 50% 50%;
}


#n1 {
  background-image: url(../images/main1.jpg);
}

#n2 {
  background-image: url(../images/main2.jpg);
}

#n3 {
  background-image: url(../images/main3.jpg);
}

#n4 {
  background-image: url(../images/main4.jpg);
}
