	.container{
        display: grid;
        width: 100%;
        grid-template-rows: auto; 
        grid-template-columns: 6fr 1fr 14fr 1fr 6fr; 
    }
	
    .left{
        #background: red;
		opacity:0.9;
		background-color: #cad5d9;
    }
    .main{
        #background: blue;
		opacity:0.9;
		background-color: #cad5d9;
    }
    .right{
        #background:red;
		opacity:0.9;
		background-color: #cad5d9;
	}
	.title{
		color:red;
	}
	.Words{
		margin:6px;
	}